*{
    margin: 0px;
    padding: 0px;
}

.center {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
}

.logo {
    padding-left: 30px;
    margin-right: 478px;
    margin-left: 95px;
    padding-top: 3px;
}

.header {
    padding: 20px 0;
}

link {
    width: 90%;
    text-align: right;
}

.links a {
    color: darkblue;
    margin-right: 2px;
    padding-top: 25px;
    border-radius: 2px;
    display: inline-block;
    line-break: auto;
}

.links a:hover {
    color: rgb(0, 68, 255);
}

.standart {
    margin-left: 260px;
}

.titulo {
    margin-left: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.c {
    margin-left: 260px;
}

.final {
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}

.title {
    margin-left: 260px;
    padding-top: 20px;
}

.lista {
    margin-left: 40px;
    
}

.line {
    margin-left: 260px;
}

.b {
    margin-left: 260px;
}

.encerramento {
    text-align: center;
    padding-bottom: 60px;
}

.contato {
    margin-left: 260px;

}

.fim {
    text-align: center;
    padding-bottom: 60px;
}
