<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>desafio_1</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body class="corpo" background="{{url_for('static', filename='imagens/logo 2.png')}}">
    <header class="cabecalho">
        <div class="logo">
            <img src="{{url_for('static', filename='imagens/logo 1.png')}}" alt="logo">
        </div>
        <div class="links">|
            <a href="/index">Home|</a>|
            <a href="/quem somos">Quem somos|</a>|
            <a href="/contato">Contato|</a>|
        </div>
    </header>
    <main class="main">
        <section class="tituloq">
            <h2>Quem somos:</h2>  
            <div class="texto">
            <p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi-<br> nim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt <br> mollit anim id est laborum.Suspendisse varius enim in eros elementum 
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum <br> nulla,
            ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.</p>
            </div>
        </section>
        <div class="subtituloq">
            <h2>5 Motivos para estudar:</h2> 
        </div>
        <div class="lista"> 
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        </div>
<hr size="3%" width="100%" color="gray">
        <div class="titulo1">
            <h2>Objetivos</h2>
        <div>
        <div class="texto">
            <p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi-<br> nim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt <br> mollit anim id est laborum.Suspendisse varius enim in eros elementum 
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum <br> nulla,
            ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.</p>
        </div>
    </main>
    <footer class="final">
        <div>
            <h4>Todos os direitos reservados</h4>
        </div>
    </footer>
</body>
</html>